<div class="infos">

    <div class="media-heading">
        <a href="https://laravel-china.org/users/5951" title="风吹枫落" class="remove-padding-left author">
            风吹枫落
        </a>
        <span class="operate pull-right">
                    <a class="comment-vote" data-ajax="post" id="reply-up-vote-36230" href="javascript:void(0);"
                       data-url="https://laravel-china.org/replies/36230/vote" title="Vote Up">
             <i class="fa fa-thumbs-o-up" style="font-size:14px;"></i> <span class="vote-count"></span>
          </a>
          <span> ⋅  </span>
                    <a class="fa fa-reply" href="javascript:void(0)" onclick="replyOne('风吹枫落');" title="回复 风吹枫落"></a>
        </span>
        <div class="meta">
            <a name="reply36230" id="reply36230" class="anchor" href="#reply36230" aria-hidden="true">#1</a>
            <span> ⋅  </span>
            <abbr class="timeago popover-with-html" title="" data-content="2017-12-15 09:29:50"
                  data-original-title="2017-12-15 09:29:50">16小时前</abbr>
        </div>

    </div>

    <div class="media-body markdown-reply content-body">
        <p>用 .test 不行？</p>
    </div>
</div>