html {
    height: 100%;
}

body {
    background: url('../images/bg.jpg');
    height: 100%;
}

#app {
    position: relative;
    min-height: 100%;
}

.article img{
    max-width: 100%;
}

.content {
    padding-bottom: 4rem;
    padding-top: 2rem;
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 3.5rem;
}

.profile-card .img {
    width: 10rem;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}

.profile-card .img img {
    width: 100%;
    height: 100%;
}

.profile-card h3 span {
    font-size: 0.875rem;
    background: #e91e63;
    color: #fff;
    padding: 0.25rem 0.625rem;
    border-radius: 1rem;
}

.profile-card p {
    color: #262626;
}

.profile-card span {
    display: inline-flex;
}

.profile-card ul {
    margin: 0;
    padding: 0;
}

.profile-card ul li {
    list-style: none;
    float: left;
}

.profile-card ul li a {
    display: block;
    color: #aaa;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: 0.5s;
    text-align: center;
}

.profile-card ul li:hover a {
    color: #e91e63;
    transform: rotateY(360deg);
}

.comment-block {
    vertical-align: top;
}

.bottom-comment {
    color: #acb4c2;
    font-size: 0.875rem;
}

.comment-actions li {
    cursor: pointer;
}

.comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem;
}

.comment-actions li:hover {
    color: #0095ff;
}

.social-icons-ql li {
    list-style: none;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 3.375rem;
    background: #000;
    text-align: center;
    margin-right: 0.625rem;
}

.social-icons-ql li:nth-child(1) {
    background: #40b904;
}

.social-icons-ql li:nth-child(2) {
    background: #CC2028;
}

.social-icons-ql li:nth-child(3) {
    background: #CC2028;
}

.social-icons-ql li:nth-child(4) {
    background: #25B8E6;
}

.social-icons-ql li:nth-child(5) {
    background: rgba(0, 122, 181, 1);
}

.social-icons-ql li:nth-child(6) {
    background: #DC4A38;
}

.social-icons-ql li i {
    color: #fff;
    font-size: 2rem;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

$black: hsl(200, 40, 10);

blockquote {
    padding-left: 1em;
    border-left: 0.2em solid lighten($black, 40%);
}
