body {
    background: url(../img/bg.png);
    /*background-repeat:no-repeat;*/
    background-attachment: fixed;
}

.comment{width:680px; margin:20px auto; position:relative}
.comment h3{height:28px; line-height:28px}
.com_form{width:100%; position:relative}
.input{width:99%; height:60px; border:1px solid #ccc}
.com_form p{height:28px; line-height:28px; position:relative}
span.emotion{width:42px; height:20px; background:url(/img/icon.gif) no-repeat 2px 2px; padding-left:20px; cursor:pointer}
span.emotion:hover{background-position:2px -28px}
.qqFace{margin-top:4px;background:#fff;padding:2px;border:1px #dfe6f6 solid;}
.qqFace table td{padding:0px;}
.qqFace table td img{cursor:pointer;border:1px #fff solid;}
.qqFace table td img:hover{border:1px #0066cc solid;}
#show{width:680px; margin:20px auto}

.container {
    margin: 20px auto;
    background: #fff;
    position: relative;
    z-index: 1;
    box-shadow: 2px 0 5px rgba(214, 214, 215, 0.9), -2px 0 5px rgba(214, 214, 215, 0.9);
    margin-bottom: 20px;
    border-radius: 3px;
}

/*导航条颜色 激活*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #4CBCF6;
    background-color: #fff;
}

/*导航条颜色*/
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #27B7C5;
    background-color: transparent;
}

header h2 a:hover {
    color: #27B7C5;
}

/*侧栏*/

.celan {
    margin-top: 36px;
}

/*面板公用*/
.panel-default > .panel-heading {
    background-color: #fff;
}

/*搜索*/
.input-group {
    margin-bottom: 20px;
}

/*联系栏*/

.skill dd {
    text-indent: 2em;
}

.caption
{
    text-align: center;
}

.panel-title {
    text-align: center;
}

.contact {
    text-align: center;
}

.panel-body a {
    margin: 0 10px 0 0;
}

.panel-body .feed a:hover {
    color: #F5CA50;
}

.panel-body .weibo a:hover {
    color: #E6162E;
}

.panel-body .twitter a:hover {
    color: #5EA9DD;
}

.panel-body .qq a:hover {
    color: #337AB7;
}

.panel-body .mobile a:hover {
    color: #DBD2A5;
}

.read-more {
    float: right;
    font-weight: 100;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-default {
    background-color: #fff;
}

.navbar-nav {
    font-size: 18px;
    margin: 25px 0px 10px 10px;
}

.navbar-nav li {
    height: 20px;
}

/* page-title */

.page-title {
    margin-bottom: 15px;
}

.page-title h3,
.page-title h1 {
    margin: 0;
    line-height: 36px;
    font-size: 16px;
    border-bottom: 2px solid #eee;
}

.page-title h3 span,
.page-title h1 span {
    position: relative;
    bottom: -5px;
    padding: 0 2px;
    padding-bottom: 5px;
    border-width: 2px;
    border-bottom-style: solid;
}

.short {
    font-size: 13px;
    padding: 10px 0;
}

/*颜色*/

a,
.posted .date_time,
.posted .postedby,
.posted .postview,
.posted .commentcount,
.logo .color {
    color: #666;
}

.posted span {
    margin-left: 10px;
}

/*分类*/

.excerpt header .label {
    margin-right: 8px;
    position: relative;
    top: -2px;
    font-weight: 100;
}

.label,
.badge {
    position: relative;
    display: inline-block;
    padding: 4px 6px 3px;
    color: #fff;
    font-size: 10.152px;
    line-height: 14px;
    vertical-align: baseline;
    white-space: nowrap;
    background-color: #4CBCF6
}

.badge {
    padding: 1px 4px 0
}

.label:empty,
.badge:empty {
    display: none
}

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer
}

.label-arrow {
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: top;
    content: ""
}

.label .label-arrow {
    top: 7px;
    right: -4px;
    border-left: 4px solid #000000;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent
}

.label-important,
.badge-important {
    background-color: #4CBCF6
}

.label-important .label-arrow,
.badge-important .label-arrow {
    border-left-color: #4CBCF6
}

/*文章*/

.fl {
    text-indent: 2em;
}

.excerpt {
    color: rgb(122, 121, 121)
}

.excerpt h2 {
    display: inline;
    margin: 0;
    font-size: 20px
}

.excerpt h2 a {
    width: 80%;
}

.excerpt p {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.catpost .content ul li img {
    float: right;
    margin: 0 5px;
    width: 173px;
    height: 130px;
    _height: 130px;
}

.tags,
.singlepost .tags {
    font-size: 12px;
    margin: 15px 0;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    padding: 13px 10px;
    margin: 20px 0;
}

.meta_tags {
    clear: both;
}

.wp-caption {
    max-width: 100%;
}

.singlepost .subtitle {
    color: #BFBFBF;
    font-size: 11px;
}

.tags,
.tags a {
    color: #9c9c9c;
}

.grayblock h3 {
    margin: 0 0 10px 0;
}

.grayblock .thumb {
    width: 57px;
    height: 50px;
    float: left;
    margin: 0 13px 0 0
}

.postnav {
    margin: 30px 0;
}

.prevpost,
.nextpost {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 20px;
    color: #fff;
}

.prevpost {
    padding: 3px 10px 3px 30px;
    background: url(img/postnav.png) no-repeat 4% 11px #2e2e2e;
}

.nextpost {
    padding: 3px 30px 3px 10px;
    background: url(img/postnav.png) no-repeat 96% -89px #2e2e2e;
}

.prevpost span,
.nextpost span {
    display: block;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.post-likes {
    color: #afafaf;
    margin-bottom: 5px;
    background-size: 13px;
}

.catpost a.post-likes:hover {
    color: #EB2222;
    text-decoration: none;
}

.post-like {
    cursor: pointer;
    font-size: 13px;
}

.singlepost h1,
.singlepost h2,
.singlepost h3,
.singlepost h4,
.singlepost h5,
.singlepost h6 {
    clear: both;
    font-weight: normal;
    color: #343434;
    margin: 10px 0;
}

.singlepost h1,
.singlepost h2 {
    font-family: "Microsoft Yahei", "黑体";
    font-size: 20px;
    text-align: center;
}

.singlepost .meta {
    text-align: center;
}

.singlepost .meta a {
    color: #666;
}

.singlepost h3,
.singlepost h4 {
    background: none repeat scroll 0 0 #efefef;
    border-left: 4px solid #4CBCF6;
    padding: 12px 15px;
    font-size: 16px;
    border-radius: 2px;
}

.singlepost h5 {
    font-size: 16px;
}

.singlepost a {
    text-decoration: none;
}

.singlepost h6 {
    font-size: 14px;
}

.singlepost p {
    font-size: 15px;
    line-height: 28px;
    margin: 15px 0;
}

.homepage p {
    text-indent: 0;
}

.singlepost strong {
    color: #b22222;
    font-weight: 700;
    text-indent: initial;
}

.singlepost li {
    background: url(../img/vline.gif) repeat-x 0 bottom;
    font-size: 12px;
    padding-bottom: 6px;
    line-height: 1.4;
    list-style-type: none;
}

.singlepost .post {
    padding-bottom: 5px;
    margin-top: 10px;
}

.post_copyright {
    overflow: hidden;
    border-radius: 3px;
    padding: 10px;
}

.post_copyright img {
    float: left;
    margin: 10px;
    border-radius: 50px;
}

.post_info a {
    color: #0e0c0c;
}

.post_info p {
    margin: 0;
}

.fstheme-list li,
.list-14 li {
    font-size: 14px;
}

/**  Posts  **/

.posts {
    margin-bottom: 20px;
    padding: 0 0 10px;
    font-size: 12px;
}

.posts li {
    padding: 5px 0;
    line-height: 1.4;
    zoom: 1
}

.posts li:after {
    content: '';
    display: block;
    width: 100%;
    height: 0px;
    clear: both
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.posts .thumb {
    display: block;
    margin: 0 auto;
}

.alignright {
    float: right;
    margin-left: 10px !important;
}

.alignrightcontact {
    float: right;
}

.alignleft {
    float: left;
    margin-right: 10px !important;
}

.catphoto .posts {
    overflow: hidden;
}

.catphoto .posts .short {
    padding-top: 0;
}

.catphoto ul li {
    float: left;
    margin: 10px;
    padding-top: 0;
    background-color: #f5f5f5;
    border-radius: 2px;
}

.catphoto ul li h3 {
    width: 220px;
    font-size: 13px;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 20px;
    color: #656565;
    border-bottom: 1px solid #d5d5d5;
    font-family: "Microsoft Yahei", "黑体";
    position: relative;
    white-space: nowrap;
}

.catphoto ul li h3::before {
    content: '';
    bottom: -10%;
    background: #ccc;
    left: 43%;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
}

.catphoto ul li h3::after {
    content: '';
    bottom: -10%;
    background: #ccc;
    right: 43%;
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
}

.catphoto ul li h3 a {
    color: #666;
    font-weight: bold;
}

.catphoto ul li h3:hover {
    color: #4CBCF6;
}

.catphoto .short img {
    width: 239px;
    height: 190px;
    border: 1px solid #f0f0f0;
}

.catphoto .short p {
}

.catphoto span {
    font-size: 12px;
    padding: 0 0 0 15px;
    margin: 0 5px;
}

.cat-themes ul li {
    margin: 20px;
}

.cat-themes ul li h3 {
    width: 260px;
    font-size: 12px;
}

.cat-themes .short img {
    width: 300px;
    height: 220px;
}

.menu .current-menu-item,
.menu a:hover,
.menu a.hover {
    background-color: #EA6018;
}

.posts .posted {
    line-height: 30px;
    text-indent: 0;
}

.posts .short {
    font-size: 13px;
    padding: 10px 0;
}

.posts .short ul li {
    background: none;
    padding-bottom: 0px;
}

.posts .readmore:hover,
.slider .readmore:hover {
    background-color: #424242;
    text-decoration: none;
}

.bp_content a {
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

.footer p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.showpic {
    width: 17%;
    float: right;
    margin-left: 10px;
}

#content {
    margin: 20px 0;
}

.pagecontent {
    width: 760px;
    float: left
}

.pagecontent img {
    max-width: 100%;
    height: auto;
}

.innerpage {
    width: 759px;
    border-right: 1px solid #cdcdcd;
    margin: 0 0 50px 0
}

.post-content {
    text-indent: 2em;
}

/** related post thumbnail **/
#related-posts {
    border-radius: 5px;
    background: #fff;
    clear: both;
}

.caption {
    color: #0C0C0B;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.related {
    white-space: normal;
    margin: 0 auto;
    overflow: hidden;
}

.related li {
    float: left;
    width: 25%;
    height: 180px;
    list-style: none;
    padding: 4px;
    _padding: 2px;
    border-right: 1px solid #f0f0f0;
    text-align: center;
}

.related li img {
    box-shadow: none;
    height: 120px;
    width: 160px;
    border: 0;
    padding: 0 5px;
}

.related a {
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.related a:hover {
    white-space: normal;
    text-decoration: none;
}

.related li:hover {
    background: #F6F6F6;
}